@page
@model Vt.Platform.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1 class="text-center">About</h1>

<style>
    body {
        color: #fff;
        background-color: #B38949;
    }

    h4 {
        color: #f1adf3;
    }

</style>

<div style="background-color:rgba(69, 76, 79, 0.7); padding:50px;">
    <!--<center><h4></h4></center>-->
    <h3>About Us</h3>
    <p>
        Bringing People Together
        We believe everyone should have the chance to make a difference.
        That's why we make it easy for good people and good causes to connect.
        We've connected millions of people with a great place to volunteer and helped tens of thousands of organizations better leverage volunteers to create real impact.
    </p>
    <h3>Our Vision</h3>
    <p>
        Volteer relies on the power of community, relationships and partnerships.
    </p>
    <h3>Our Team</h3>
    <div class="row" style="text-align:center">
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5103AQHxd26FGHcLXQ/profile-displayphoto-shrink_200_200/0?e=1576108800&v=beta&t=OG7Pf-xcp5sK2eBmgi52smf3IsJaGzar3EeOhcaPx7Q" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Raghuveer Kajjam</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5603AQEMpasITl11lw/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=1f-3cJEoUOGXOLI3KhFDQzvcJXo2sQXERjm3cM93Jfo" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Shankar Bhagawan Palla</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
    </div>
    <br />
    <div class="row" style="text-align:center">
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C4E03AQGW3Of3H3nKhg/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=a8-AkHkdPXzx2pzN10XTm0H13gSe1pxpoSnvPFLUjg0" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Raynor Moras</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5103AQF7GpmZ3tcXXQ/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=mxdm59rHiYqd1UroPI6vF0FsNLx8ScyUr40qx7es3nw" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Parth bhimani</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
    </div>
    <br />
    <div class="row" style="text-align:center">
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5103AQGtsqaMr31b1Q/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=dJ3_V3GNTQ3YF1SjetmWDMuDIKBbfQxmO4-yibEJOIQ" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Harsh Dave</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5103AQGBzebw_wDMdg/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=u1aFIFF5RqYjEDr9Rxjsv8dxM1WHE2IbUonW76z1tUo" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Shankar Bhagawan Palla</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
    </div>
    <br />
    <div class="row" style="text-align:center">
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5603AQFOI6M5qwPvBw/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=Gt98ics0SWfCCVfMWIfdGx2awyTUCfP65qLZp9PD86c" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Samreen Zehra</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C4E03AQGasLtdxK8-Xg/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=zvs-yLYh0URBMB4v24WkBzki860Cv--DSu_9iqhFqQo" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Snigdha</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
    </div>
    <br />
    <div class="row" style="text-align:center">
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5103AQFZgETj-LtFmw/profile-displayphoto-shrink_200_200/0?e=1580947200&v=beta&t=XTdPTttBxUjC_iVrGzEUAI4nclSg7SxXJubhalr0U_k" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Neha Ganshani</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C4D03AQHMXYTDz0rvXw/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=IqpoiFJrx-8IhmBE-0PM5wBNfypO_RqH5G6bGkRam3Q" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Dominic Franco</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
    </div>
</div>