@page
@model Vt.Platform.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1 class="text-center">About</h1>

<style>
    body {
        color: #fff;
        background-color: #B38949;
    }

    h4 {
        color: #f1adf3;
    }

</style>

<div style="background-color:rgba(69, 76, 79, 0.7); padding:50px;">
    <!--<center><h4></h4></center>-->
    <h3>About Us</h3>
    <p>
        Bringing People Together
        We believe everyone should have the chance to make a difference.
        That's why we make it easy for good people and good causes to connect.
        We've connected millions of people with a great place to volunteer and helped tens of thousands of organizations better leverage volunteers to create real impact.
    </p>
    <h3>Our Vision</h3>
    <p>
        Volteer relies on the power of community, relationships and partnerships.
    </p>
    <h3>Our Team</h3>
    <div class="row" style="text-align:center">
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5103AQHxd26FGHcLXQ/profile-displayphoto-shrink_200_200/0?e=1576108800&v=beta&t=OG7Pf-xcp5sK2eBmgi52smf3IsJaGzar3EeOhcaPx7Q" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Raghuveer Kajjam</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5603AQEMpasITl11lw/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=1f-3cJEoUOGXOLI3KhFDQzvcJXo2sQXERjm3cM93Jfo" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Shankar Bhagawan Palla</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
    </div>
    <br />
    <div class="row" style="text-align:center">
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5103AQHxd26FGHcLXQ/profile-displayphoto-shrink_200_200/0?e=1576108800&v=beta&t=OG7Pf-xcp5sK2eBmgi52smf3IsJaGzar3EeOhcaPx7Q" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Raghuveer Kajjam</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5603AQEMpasITl11lw/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=1f-3cJEoUOGXOLI3KhFDQzvcJXo2sQXERjm3cM93Jfo" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Shankar Bhagawan Palla</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
    </div>
    <br />
    <div class="row" style="text-align:center">
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5103AQHxd26FGHcLXQ/profile-displayphoto-shrink_200_200/0?e=1576108800&v=beta&t=OG7Pf-xcp5sK2eBmgi52smf3IsJaGzar3EeOhcaPx7Q" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Raghuveer Kajjam</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
        <div class="col-sm-6">
            <img src="https://media.licdn.com/dms/image/C5603AQEMpasITl11lw/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=1f-3cJEoUOGXOLI3KhFDQzvcJXo2sQXERjm3cM93Jfo" height="200" width="200" align="left">
            <p style="font-size:25px;"><strong>Shankar Bhagawan Palla</strong> </p>
            <p style="font-size:23px;"><i>Software Developer</i></p>
        </div>
    </div>
</div>