@page
@model Vt.Platform.Web.Pages.Participants.EditParticipantModel
@{
    ViewData["Title"] = "EditParticipant";
}


    <div id="editStatus">
        <h3>Update Participant Status</h3>
    
        <form class="form" v-on:submit.stop.prevent="editStatus" v-if="!isSuccess && !isError">
            <div class="input-group col-md-4 mt-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="participantStatus" value="I am coming" v-model="status">
                    </div>
                </div>
                <label class="form-control">I Can Come</label>
            </div>
            <div class="input-group col-md-4">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="participantStatus" value="may be" v-model="status">
                    </div>
                </div>
                <label class="form-control">Mybe</label>
            </div>
            <div class="input-group col-md-4">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="participantStatus" value="cant come" v-model="status">
                    </div>
                </div>
                <label class="form-control">I Can't Come</label>
            </div>
            <hr />
            <div class="input-group">
                <button :disabled="status == ''" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <div v-if="isSuccess">
            <div class="alert alert-primary mt-5" role="alert">
                Participant status updated successfully
            </div>
        </div>
        <div v-if="isError">
            <div class="alert alert-danger mt-5" role="alert">
                Participant status update failed
            </div>
        </div>
    </div>

@section scripts{
    <script>
        var app = new Vue({
            el: "#editStatus",
            data: {
                form: {
                    EventCode: "",
                    ParticipantCode: "",
                    ParticipantStatus: ""
                },
                status : '',
                isSuccess: false,
                isError: false,
            },
            mounted: function () {
                
            },
            methods: {
                editStatus: function () {
                    var self = this;
                    var pageURL = window.location.href;
                    var array = pageURL.split('?');
                    var params = array[array.length - 1];
                    var separateParams = params.split('/');
                    var eventCode = separateParams[0];
                    self.form.EventCode = eventCode;
                    var participantCode = separateParams[1];
                    self.form.ParticipantCode = participantCode;
                    self.form.ParticipantStatus = self.status;
                    console.log(JSON.stringify(self.form));
                    
                    $.ajax({
                        url : 'http://localhost:7071/api/EditParticipantStatus',
                        type : 'POST',
                        data : JSON.stringify(self.form),
                        dataType:'json',
                        success : function(data) {              
                            self.isSuccess = true;
                        },
                        error : function(request,error)
                        {
                            self.isError = true;
                        }
                    });
                 }
            },
            computed: {
            }
        });
    </script>

}

